body{
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}

#worldmap{
 height: 100%;
 left: 0px;
 position: absolute;
 top: 0px;
 width: 100%;
 background-color: #0F0F0F;
}

#terminal #pre_cursor{
  height: 1em;
  display: inline-block;
}

#terminal #pre_cursor.blink{
  border-right: 2px solid white;
  margin-right: -2px;
}

#terminal #pos_cursor{
  display: inline-block;
}

#terminal{
  white-space: pre-wrap;
  color: white;
  left: 0px;
  opacity: 0.9;
  padding: 1%;
  position: absolute;
  top: 0px;
  width: 512px;
}

#state{
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 98%;
  padding: 4px 1%;
  color: black;
  background-color: #FF0;
}
